<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">
    <title>Application Ref. Card 08</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="p-3 m-0 border-0" th:data-bs-theme="${environment.theme}">
<div data-bs-theme="${environment.theme}"></div>
    <header class="mb-2">
        <h1>Application Ref. Card 08</h1>
        <small>Spring Boot Application using environment variables.</small>
    </header>
    <section class="mt-2">
        <h4>Application properties</h4>
        <div><textarea rows="5" cols="80" th:text="${environment}"></textarea></div>
        <div><textarea rows="5" cols="80" th:text="${recaptchaenviroment}"></textarea></div>
    </section>
    <section class="mt-4 p-1 border">
        <h4>Theme</h4>
        <form th:action="@{/changeTheme}" th:object="${environment}" method="post" class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="optionlight" name="optionlight" class="custom-control-input" value="light"
                       th:field="*{theme}" th:checked="*{theme.equals('light')}">
                <label class="custom-control-label" for="optionlight">light theme</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="optiondark" name="optiondark" class="custom-control-input" value="dark"
                       th:field="*{theme}" th:checked="*{theme.equals('dark')}">
                <label class="custom-control-label" for="optiondark">dark theme</label>
            </div>
            <button type="submit">apply</button>
        </form>
    </section>
    <section class="mt-4 p-1 border">
        <h4>Captcha validation</h4>
        <form th:action="@{/validateCaptcha}" method="post" class="form-group">
            <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@reCaptchaProperties.getSite()}"></div>
            <span id="captchaError" class="alert alert-danger col-sm-4" style="display: none"></span>
            <p th:text="${data.captchaMessage}"></p>
            <button type="submit">validate captcha</button>
        </form>
    </section>
    <section class="mt-4 p-1 border">
        <h4>Database</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Content</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${messages.empty}">
                <td colspan="2">No database content available.</td>
            </tr>
            <tr th:each="message : ${messages}">
                <td><span th:text="${message.content}">Content</span></td>
                <td><span th:text="${message.author}">Author</span></td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>